.carrito{
    display: flex;
    margin-right: 2rem;
    font-size: 1.7rem;
    color: #f5f0f0;
}

.carrito :hover{
    color: #d6c9c9;
}

.carrito span{
    position: relative;
    bottom: 12px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    font-weight: 600;
}