.title{
    text-align: center;
}

.price{
    text-align: center;
    font-weight: bold;
    color: #30302f;
}

.description{
    height: 150px;
    overflow: hidden ;
    text-align: center;
}

.imagen{
    object-fit: contain;
}
